flask
tinydb
timeago

Project Name
------------
Social-inator

Business Context
----------------
Enthusiasts for all things engineering, including mechanical, electrical, and software. These people need a way to share ideas and outsource their projects
for help from others, or to simply find projects to work on with other people. This will be completed in a social media style format where individuals
can interact and work together on projects.

Problem Statment
----------------
Limited options exist for people to share technical ideas and projects with other people, many people are stunted in their abilities due to a lack of opportunity
to share and receive ideas and help from other people with similar ideas, interests, or skills.

Scope
-----
This solution will be available on mobile and personal devices. 
in scope: The system will function as it's own application, with no integration necessary. There will be a help page separate from the rest of the application
for people who need it, or would like to report an issue.
out of scope: Subscription service

Assumptions
-----------
It is assumed that this product will be software exclusively, with hardware being required from the user. The app should be accessible by over 95% of potential users

Features
--------
The users will have the ability to import images and project ideas that can be set to public or private. These projects, while in development, will be accessible
by the general public and people will be able to discuss how to create an engineering project.

There will be a "bad" chat bot Norm, who gives bad information. It will be made clear to the users that you should do the opposite of what he says.

Internet functionality, regions determine which posts you can see.

Log in page that assigns you a randomized avatar, adjustable later in settings.

Main page connected to every other page, including settings. Settings and profile will always be located in the corner of the webpage.

Users will be able to search for and add friends, and communicate with them privately in direct messages.

Site will have a public chatroom, allowing anyone within your region to chat with eachother.

There will be a button places somewhere in the webpage, that when pressed will disconnect the user from the webpage.
Non-Functional Requirements
---------------------------
The server will be functional 99% of the time.

Available online as a website on Google Chrome, Firefox, Internet Explorer, Microsoft Edge, and Safari on their most recent versions.

Also available as an application for IOS or Android, portability.

Response time at maximum 10 seconds.

Available from anywhere in the world
